.cover {
    position: absolute;
    left: 0;
    opacity: 0.1;
    background-image: url('/assets/images/cross.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
}

/* 웨이브 효과 */
body {
    font-family: -apple-system, BlinkMacSystemFont, sans-serif;
    overflow: auto;
    background: linear-gradient(315deg, rgb(237, 186, 155) 3%, rgb(228, 204, 153) 38%, rgb(237, 226, 159) 68%, rgb(239, 192, 127) 98%);
    /* background: linear-gradient(315deg, rgb(237, 186, 155) 3%, rgb(229, 198, 190) 38%, rgb(237, 226, 159) 68%, rgb(239, 192, 127) 98%); */
    animation: gradient 15s ease infinite;
    background-size: 400% 400%;
    background-attachment: fixed;
}

@keyframes gradient {
    0% {
        background-position: 0% 0%;
    }

    50% {
        background-position: 100% 100%;
    }

    100% {
        background-position: 0% 0%;
    }
}

.wave {
    /* background: rgb(255 255 255 / 25%); */
    background: rgba(128, 128, 128, 0.25);
    border-radius: 1000% 1000% 0 0;
    position: fixed;
    width: 200%;
    height: 13em;
    animation: wave 10s -3s linear infinite;
    transform: translate3d(0, 0, 0);
    opacity: 0.8;
    bottom: 0;
    left: 0;
    z-index: -1;
}

.wave:nth-of-type(2) {
    bottom: -1.25em;
    animation: wave 18s linear reverse infinite;
    opacity: 0.8;
}

.wave:nth-of-type(3) {
    bottom: -2.5em;
    animation: wave 20s -1s reverse infinite;
    opacity: 0.9;
}

@keyframes wave {
    2% {
        transform: translateX(1);
    }

    25% {
        transform: translateX(-25%);
    }

    50% {
        transform: translateX(-50%);
    }

    75% {
        transform: translateX(-25%);
    }

    100% {
        transform: translateX(1);
    }
}

/* 책선반 효과 */
.book::after,
.book::before,
.book img,
.book {
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

body {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.list-book {
    position: relative;
    top: 48.5%;
    transform: translateY(-50%);
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0 auto;
    padding-left: 0;
    justify-content: center;
}

.list-book>li {
    width: 18vmin;
    height: 32.5vmin;
    margin: 1.5vw;
    /* margin: 1.5vw 5vw; */
}

.link:hover {
    box-shadow: 0 4px 8px 5px rgb(255, 245, 156);
}

.link {
    width: 18vw;
    background: white;
    padding: 8px;
    box-sizing: border-box;
    cursor: pointer;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    transition: box-shadow 0.3s linear;
    overflow: hidden;
    border-radius: 5px;
}

.link img {
    display: block;
    width: 100%;
}

.link p {
    font-family: 'NanumBarunGothic';
}

.book {
    cursor: pointer;
    width: 18vw;
    position: relative;
    background: white;
    z-index: 1;
    box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1), 0 9px 20px 0 rgba(0, 0, 0, 0.25);
    overflow: hidden;
    transition: box-shadow 0.3s linear;
}

.book img {
    width: inherit;
    height: inherit;
    transform-origin: 0 50%;
    transform: rotateY(0);
    transition: all 0.45s ease;
}

.book:hover {
    box-shadow: 0 4px 8px 5px rgb(255, 245, 156);
}

.book:hover img {
    transform: rotateY(-25deg);
    box-shadow: 1px 1px 5px 5px rgba(0, 0, 0, 0.2);
}

.book::after,
.book::before {
    content: "";
    display: block;
    width: inherit;
    height: inherit;
    position: absolute;
    z-index: -1;
    top: 0;
    background: white;
    border: 2px solid #d9d9d9;
}

.book::before {
    left: -3px;
}

.book::after {
    left: -6px;
}

.shelf {
    position: fixed;
    bottom: 3px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 85vw;
    max-width: 1000px;
    min-height: 3vh;
    background: #836d46;
    box-shadow: 0 0.5vh 0.5vh rgb(151, 137, 121);
    border-radius: 0.2vw;
};

@media (max-width: 875px) {
    .link > p {
        margin: 0;
        padding: 0;    
    }

    .link > img {
        margin-top: 37vw !important;
    }
}

@media (max-width: 600px) {
    .link > p {
        margin: 0;
        padding: 0;
        display: none;
    }
}

.bottom-info {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100px;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #00000077;
    text-align: center;
    line-height: 1.8;
    font-size: 13px;
    word-break: keep-all;
    color: rgb(255, 255, 255);
    text-shadow: 1px 2px 5px rgb(0, 0, 0);
}

.mini {
    font-size: 11px;
}

.bottom-info a {
    color: white;
}


@media (max-width: 750px) {
    .bottom-info {
        font-size: 8px;
        text-shadow: 0px 1px 2px rgb(0, 0, 0);
        padding: 0 6.1px;
    }

    .mini {
        font-size: 8px;
    }
}