html {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
    background: #fcfcfc;
}

body {
    width: 100%;
    min-height: 100vh;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.notepad {
    width: 100%;
    max-width: 1000px;
    box-shadow: 10px 10px 40px rgba(black, .15);
    border-radius: 0 0 10px 10px;
    overflow: hidden;
    box-sizing: border-box;
}

.top {
    width: 100%;
    height: 50px;
    background: #333;
    border-radius: 5px 5px 0 0;
    box-sizing: border-box;
}

.paper {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    min-height: 60vh;
    padding: 35px 25px;
    background: repeating-linear-gradient(#F1EDE9, #F1EDE9 33px, #94ACD4 33px, #94ACD4 33px);
    font-family: 'NanumBarunGothic';
    line-height: 33px;
    outline: 0;
    font-size: 18px;
}

.title {
    font-family: 'NanumBarunGothic';
    font-weight: 700;
    font-size: 20px;
}

.title.main {
    font-size: 23px;
}

/* 탑버튼 */
#myBtn {
    display: none; /* Hidden by default */
    position: fixed; /* Fixed/sticky position */
    bottom: 20px; /* Place the button at the bottom of the page */
    right: 30px; /* Place the button 30px from the right */
    z-index: 99; /* Make sure it does not overlap */
    border: none; /* Remove borders */
    outline: none; /* Remove outline */
    background-color: rgb(151, 151, 151); /* Set a background color */
    color: white; /* Text color */
    cursor: pointer; /* Add a mouse pointer on hover */
    padding: 12px 17px; /* Some padding */
    border-radius: 10px; /* Rounded corners */
    font-size: 25px; /* Increase font size */
    font-family: "NanumBarunGothic";
    font-weight: 700;
  }
  
  #myBtn:hover, #myBtn:active {
    background-color: #555; /* Add a dark-grey background on hover */
  }