.book {
    transition: opacity 0.4s 0.2s;
}

p {
    text-align: center;
    font-size: 5vw;
    color: rgb(80, 65, 65);
    font-weight: 600;
}

.page {
    width: 30vw;
    height: 44vw;
    background-color: #111111;
    float: left;
    padding-top: 0.5em;
    background: left top no-repeat;
    background-size: cover;
    box-shadow: #f0ebc4 3px 3px 3px;
}

.page:hover {
    box-shadow: #dcc77c 4.2px 4.2px 4.2px;
}

.page:nth-child(even) {
    clear: both;
}

.page p {
    line-height: 1;
}

.page img {
    display: block;
    width: 100%;
}

.book {
    perspective: 250vw;
}

.book .pages {
    width: 80vmin;
    height: 90vmin;
    position: relative;
    transform-style: preserve-3d;
    backface-visibility: hidden;
    border-radius: 4px;
    transition: width 1.2s, height 2.4s, transform 2.4s;
}

.book .page {
    float: none;
    clear: none;
    margin: 0;
    position: absolute;
    top: 0;
    width: 40vmin;
    height: 90vmin;
    transform-origin: 0 0;
    backface-visibility: hidden;
    transform-style: preserve-3d;
    cursor: pointer;
    user-select: none;
    background-color: #f0f0f0;
    transition: width 1.2s, height 2.4s, transform 2.4s;
}

.book .page:before {
    content: '';
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0, 0, 0, 0);
    transition: background 0.7s;
    z-index: 2;
}

.book .page:nth-child(odd) {
    pointer-events: all;
    transform: rotateY(0deg);
    right: 0;
    border-radius: 0 4px 4px 0;
    background-image: linear-gradient(to right, rgba(0, 0, 0, .15) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(odd):hover {
    transform: rotateY(-15deg);
}

.book .page:nth-child(odd):hover:before {
    background: rgba(0, 0, 0, 0.03);
}

.book .page:nth-child(odd):before {
    background: rgba(0, 0, 0, 0);
}

.book .page:nth-child(even) {
    pointer-events: none;
    transform: rotateY(180deg);
    transform-origin: 100% 0;
    left: 0;
    border-radius: 4px 0 0 4px;
    border-color: black;
    background-image: linear-gradient(to left, rgba(0, 0, 0, .12) 0%, rgba(0, 0, 0, 0) 10%);
}

.book .page:nth-child(even):before {
    background: rgba(0, 0, 0, 0.2);
}

.book .page.grabbing {
    transition: none;
}

.book .page.flipped:nth-child(odd) {
    pointer-events: none;
    transform: rotateY(-180deg);
}

.book .page.flipped:nth-child(odd):before {
    background: rgba(0, 0, 0, 0.2);
}

.book .page.flipped:nth-child(even) {
    pointer-events: all;
    transform: rotateY(0deg);
}

.book .page.flipped:nth-child(even):hover {
    transform: rotateY(15deg);
}

.book .page.flipped:nth-child(even):hover:before {
    background: rgba(0, 0, 0, 0.03);
}

.book .page.flipped:nth-child(even):before {
    background: rgba(0, 0, 0, 0);
}

*,
* :before,
*:after {
    box-sizing: border-box;
}

html,
body {
    font-family: 'Lovers Quarrel', cursive;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    padding: 0 !important;
    margin: 0 !important;
}

html {
    height: 100%;
    background-color: RGB(242, 238, 222);
}

body {
    position: relative;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
    box-sizing: border-box;
}

.bg-wrap {
    display: flex;
    flex-wrap: nowrap;
    flex-direction: row;
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    max-height: 100%;
    background-image: url('./images/bg.jpg');
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    opacity: 0.7;
}

.bg-wrap .p-wrap {
    display: table;
}

.bg-wrap .p-wrap p {
    display: table-cell;
    width: 50%;
    vertical-align: middle;
    transition: color 1s;
}

.p-wrap .left-text .arrow {
    font-family: Malgun Gothic; 
    font-size:0.55em; 
    position: relative; 
    top: -0.1em;
}

.p-wrap .right-text {
    padding: 0 1.5em;
    line-height: 0.8;
    color: transparent;
}

.p-wrap .right-text span {
    font-family: Malgun Gothic; 
    font-size: 0.35em;
}

.page:nth-child(odd) {
    background-position: right top;
}

@keyframes blink-effect {
    25% {
        opacity: 0.25;
    }
    32% {
        opacity: 0.5;
    }
    39% {
        opacity: 1;
    }
}

.p-wrap .left-text {
    animation: blink-effect 1s ease-in 5;
    font-size: 11vw;
}

.book .pages.opened {
    margin-top: -5em;
    width: 98vw;
    transition: width 1.2s, height 2.4s, transform 2.4s;
}

.book .pages.opened .page {
    width: 49vw;
    transition: width 1.2s, height 2.4s, transform 2.4s;
}